*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.divProfile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #080710;
  font-family: "Poppins", sans-serif;
}

.user {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  padding: 40px 35px;
}

.user * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.user h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.profileImg {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 105px;
    border-radius: 50%;
    margin: auto;
}

::placeholder {
  color: #e5e5e5;
}

.nameProfile {
    margin-top: 10px;
    text-align: center;
    color: aliceblue;
}

.button {
    width: fit-content;
    margin: auto;
}

/* hovers --> */
#updateProfileButton>button:hover {
  background-color: #8f3ea5;
}

.button button:hover{
  background-color: #19a149;
}

#logout:hover {
  background-color: rgb(187, 50, 50);
}
/* <-- hovers */

.button button{
    margin-top: 13%;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.Spotify {
    background-color: #1DB954;
    color: #191414;
    display: inline-flex;
}

.SpotifyText{
  margin: auto;
}

.yourTickets {
    margin-top: 30px;
    color: #e5e5e5;
    font-size: 20px;
    text-align: center;
}

.tickets {
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 5%;
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.ticket {
    width: 80%;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}

.imageTicket {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 70%;
    background-size: 300px;
    background-repeat: no-repeat;
}

.textTicket {
    color: black;
    font-size: 14px;
    padding: 10px;
    width: 99%;
}

.titleTicket {
  font-size: 16px;
  margin-bottom: 10px;
}

.textTicket button {
  height: fit-content;
  width: fit-content;
  float: right;
  margin: 0;
  bottom: 0;
  padding: 10px;
  color: white;
  font-size: 16px;
  background-color: rgb(54, 54, 224);
}

@media (min-width: 650px) {
  .tickets {
    grid-template-columns: repeat(3, 1fr);
  }

  .textTicket button {
    margin-top: 15px;
  }
}

@media (min-width: 1000px) {
  .tickets {
    grid-template-columns: repeat(4, 1fr);
  }

  .textTicket button {
    margin-top: 15px;
  }
}

@media (min-width: 1500px) {
}


.labelUpdate {
    color: aliceblue;
}

#updateProfileButton>button {
  background-color: #9D44B5;
  border-radius: 34px;
  height: 5% !important;
}

#logout{
  background-color: rgb(223, 57, 57);
  margin: auto;
  margin-top: 30%;
  margin-bottom: 15%;
}

