@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080710;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  color: #e5e5e5;
}

.textTicket {
  color: black;
  font-size: 14px;
  padding: 10px;
  width: 99%;
}

.titleTicket {
  font-size: 16px;
  margin-bottom: 10px;
}

.textTicket button {
  height: fit-content;
  width: fit-content;
  float: right;
  margin: 0;
  bottom: 0;
  padding: 10px;
  color: white;
  font-size: 16px;
  background-color: rgb(54, 54, 224);
}

@media (min-width: 650px) {
  .tickets {
    grid-template-columns: repeat(3, 1fr);
  }

  .textTicket button {
    margin-top: 15px;
  }
}

@media (min-width: 1000px) {
  .tickets {
    grid-template-columns: repeat(4, 1fr);
  }

  .textTicket button {
    margin-top: 15px;
  }
}

@media (min-width: 1500px) {}


.labelUpdate {
  color: aliceblue;
}