.App {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #282c34;
  height: 7%;
  width: 100%;
}

.buttonLogin {
  background-color: aliceblue;
}

.leaflet-popup-content-wrapper {
  
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
  
}

.leaflet-popup-content{
  margin: 0;
}

.leaflet-popup-content img{
  border-radius: 12px 12px 0 0;
}

.linkSvg{
  width:10%;
  float: right;
}

.categoriesPopup{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4%;
}