@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.dropdown-content {
  z-index: 999 !important;
}

.logo {
  margin-left: 20px;
  width: 50px !important;
}

.invisible {
  display: none;
}

.vanish {
  animation: vanish 0.5s;
  animation-fill-mode: forwards;
}

@keyframes vanish {
  from {
    opacity: 1;
    display: block;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.show {
  animation: show 0.5s;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    display: block;
  }
}

/* --- ANIMATIONS GENRES --- */

.vanish-title {
  animation: vanish-title 3.5s;
  animation-fill-mode: forwards;
}

@keyframes vanish-title {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.show-genres {
  opacity: 0;
  animation: show-genres 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes show-genres {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* --- CLOSE ANIMATIONS GENRES --- */

/* Estilos para el checkbox */
.checkbox-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Estilos para la caja del checkbox */
.checkbox-box {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* Estilos para el check del checkbox */
.checkbox-box::before {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #deadff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Estilos para el checkbox seleccionado */
.checkbox-input:checked~.checkbox-box {
  border-color: #9b4dca;
}

/* Estilos para el check del checkbox seleccionado */
.checkbox-input:checked~.checkbox-box::before {
  display: block;
}

/* Estilos para la animación al marcar el checkbox */
.checkbox-box::after {
  content: "";
  position: absolute;
  display: none;
  left: -7px;
  top: -7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #9b4dca;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* Estilos para la animación al marcar el checkbox seleccionado */
.checkbox-input:checked~.checkbox-box::after {
  display: block;
  animation: checkbox-bounce 0.3s ease-in-out;
}

/* Animación al marcar el checkbox */
@keyframes checkbox-bounce {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* .header {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

.header img {
  width: 80px;
}

.header a {
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.header .nav {
  justify-content: flex-end;
  margin-right: 3%;
  display: flex;
  align-items: center;
}

.header .nav a {
  margin-left: 30px;
  text-decoration: none;
  cursor: pointer;
}

.header .nav a img {
  width: 50px;
}

@media (max-width: 600px) {
  .header {
    width: 90%;
  }
}


.filtersContainer {
  padding: 10px;
  background-color: rgb(15, 15, 15);
  color: white;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.filtersContainer div {
  display: grid;
}

.filtersContainer img {
  filter: invert(100%);
}
.filtersContainer label {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
.filtersContainer input {
  color: white;
  padding: 10px 5px;
  border: 1px solid white;
  background-color: rgb(15, 15, 15);
  border-radius: 3px;
}
.filtersContainer select {
  width: 100%;
  padding: 10px 5px;
  border-radius: 3px;
  background-color: rgb(15, 15, 15);
  border: 0;
  color: white;
  font-size: 14px;
  border: 1px solid white;
}
.filtersContainer option {
  background-color: rgb(15, 15, 15);
  color: white;
}
.filtersContainer .buscador {
  background-color: rgb(15, 15, 15);
  border-radius: 3px;
  border: 1px solid white;
  color: white;
  padding: 10px 5px;
  margin-top: 30px;
  font-size: 18px;
} 

.buttonProfile > img {
  border-radius: 50%;
}
.searchbyCategory div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.searchbyCategory input {
  width: auto;
  height: auto;
  margin: 0 10px 0 0;
}
.searchbyCategory label {
  margin: 0;
} */